name: SAST - SonarCloud with Swift coverage

on:
  workflow_call:
    inputs:
      app_project:
        required: false
        type: string
      app_scheme:
        required: false
        type: string
    secrets:
      GH_TOKEN:
        required: false
      SONAR_TOKEN:
        required: true
      DOJO_TOKEN: 
        required: false
      DOJO_URL: 
        required: false

jobs:

  check_secret:
    name: Check secret presence
    runs-on: ubuntu-latest
    steps:
      - run: |
          if [[ -z "$SONAR_TOKEN" ]]; then
            echo "SONAR_TOKEN missing, stopping workflow"
            exit 1
          else
            echo "SONAR_TOKEN exists, continuing workflow"
          fi
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  SAST:
    name: SAST - SonarCloud analysis with Swift coverage
    needs: check_secret
    runs-on: macos-latest
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.0'

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Bundle install
        run: bundle install

      - name: Run Fastlane code_coverage
        run: bundle exec fastlane code_coverage
        continue-on-error: true
        env:
          CI: true
          APP_PROJECT: ${{ inputs.app_project }} 
          APP_SCHEME: ${{ inputs.app_scheme }} 

      - name: Upload XCResult on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: xcode-build-results
          path: xcov_output/**/*.xcresult


      - name: Convert coverage to Sonar XML
        run: |
          mkdir -p sonar-reports
          XCRESULT=$(find xcov_output -name "*.xcresult" | head -n 1)
          echo "Using $XCRESULT"
          curl -fsSL https://raw.githubusercontent.com/eu-digital-identity-wallet/eudi-infra-ci/main/ci-scripts/xccov-to-sonarqube-generic.sh -o xccov-to-sonarqube-generic.sh
          chmod +x xccov-to-sonarqube-generic.sh

          bash xccov-to-sonarqube-generic.sh "$XCRESULT" > sonar-reports/coverage.xml

      - name: Normalize coverage paths
        run: |
          sed -i '' "s|$GITHUB_WORKSPACE/||g" sonar-reports/coverage.xml

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: sonar-coverage-report
          path: sonar-reports/coverage.xml

      - name: setup projectkey
        run: echo "PROJECTKEY=${{ github.repository_owner}}_$(echo ${{ github.repository }} | sed 's/.*\///')" >> $GITHUB_ENV

      - name: SonarCloud Scan - Push / Workflow Dispatch
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: SonarSource/sonarqube-scan-action@v6.0.0
        with:
          args: >
            -Dsonar.organization=${{ github.repository_owner }}
            -Dsonar.projectKey=${{ env.PROJECTKEY }}
            -Dsonar.swift.coverage.reportPaths=sonar-reports/coverage.xml
            -Dsonar.exclusions=**/*.java
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: SonarCloud Scan - Pull Request
        if: github.event_name == 'pull_request_target'
        uses: SonarSource/sonarqube-scan-action@v6.0.0
        with:
          args: >
            -Dsonar.organization=${{ github.repository_owner }}
            -Dsonar.projectKey=${{ env.PROJECTKEY }}
            -Dsonar.pullrequest.key=${{ github.event.pull_request.number }}
            -Dsonar.pullrequest.base=${{ github.event.pull_request.base.ref }}
            -Dsonar.pullrequest.branch=${{ github.event.pull_request.head.ref }}
            -Dsonar.coverageReportPaths=sonar-reports/coverage.xml
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Setup Node 
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install "sonar-report"  and run it
        if: github.repository_owner == 'eu-digital-identity-wallet' && github.ref_name == 'main'
        run: |
          npm cache clean --force
          npm install -g sonar-report@3.0.10
          export "PROJECTKEY=${{ github.repository_owner}}_$(echo ${{ github.repository }} | sed 's/.*\///')"
          sonar-report \
            --sonarurl="https://sonarcloud.io" \
            --sonarorganization="${{ github.repository_owner }}" \
            --branch="${{ github.ref_name }}" \
            --sonartoken="${{ secrets.SONAR_TOKEN }}" \
            --output sonarreport.html \
            --application="$PROJECTKEY" \
            --sonarcomponent="$PROJECTKEY"
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Send report to DefectDojo
        if: github.repository_owner == 'eu-digital-identity-wallet' && github.ref_name == 'main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
        run: |
          export "SCAN_DATE=$(TZ='EET' date '+%Y-%m-%d')"
          curl -X POST "$DOJO_URL/api/v2/reimport-scan/" \
            -H "Authorization: Token $DOJO_TOKEN" \
            -F "active=true" \
            -F "scan_type=SonarQube Scan detailed" \
            -F "minimum_severity=Info" \
            -F "skip_duplicates=true" \
            -F "close_old_findings=true" \
            -F "file=@sonarreport.html" \
            -F "scan_date=$SCAN_DATE" \
            -F "auto_create_context=True" \
            -F "product_name=${{ github.repository }}-${{ github.ref_name }}" \
            -F "engagement_name=Static Application Security Testing - ${{ github.repository }}-${{ github.ref_name }}"
        env:
          DOJO_TOKEN: ${{ secrets.DOJO_TOKEN }}
          DOJO_URL: ${{ secrets.DOJO_URL }}
